@import '../_styles/_common.scss';
@import '../_styles/_variables.scss';

.login {
    background-image: url(../_assets/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.form {
    border-radius: 5px;
    background: $background-2;
    padding: 10px;
    height: 340px;
    position: absolute;
    margin-top: -184px;
    margin-left: -170px;
    top: 50%;
    left: 50%;
    width: 320px;

    &__logo {
        display: block;
        margin: 10px auto 10px auto;
        width: 120px;
        content: url(../_assets/nluz.svg)
    }

    &__loading {
        display: block;
        margin: 10px auto 10px auto;
        text-align: center;
    }

    &__title {
        text-align: center;
        color: $text-highlight;
        font-size: 22px;
        font-weight: 600;
        height: 60px;      
    }

    &__label {
        color: $text-highlight;
        width: 108px;
    }

    &__input {
        font-family: Dosis, Tahoma, sans-serif; 
        font-size: 16px;
        font-weight: 600;
        display: inline-block;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        padding: 6px;
        border: none;
        width: 175px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: black;
        -o-text-overflow: clip;
        text-overflow: clip;
        background: rgba(252,252,252,1);
        -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.2) inset;
        box-shadow: 0 0 0 0 rgba(0,0,0,0.2) inset;
        text-shadow: 0 0 0 rgba(255,255,255,0.66) ;
        -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    }

    &__enterButton {
        margin-top: 20px !important;
        color: $text-highlight !important;
    }
}